/*Custom carousel animation*/
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

body{
	background-color: whitesmoke;
}

/*Navbar*/

.nav-link{
	color: #000;
	font-weight: 600;
}

.nav-link:hover{
	color: dimgray;
}

/*Carousel*/

.carousel-item {
	background: black;
}

.carousel-item > img {
	opacity: 0.4;
}

#landingCarousel .carousel-item img {  
	object-fit: cover;
	object-position: center;
	overflow: hidden;
	height:90vh;
  }
  
#landingCarousel .carousel-item:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
  }

  .carousel-caption {
	transform: translateY(-20%);
	bottom: 0;
	top: 50%;
	padding-left: 10%;
	padding-right: 10%;
	
  }

  .carousel-caption > p{
	animation: fadeIn 1s ease-in both;
  }

  .carousel-caption > h5 {
	animation: fadeIn 0.9s ease-in both;
  }

  .carousel-caption > a{
	animation: fadeIn 1.1s ease-in both;
  }

/*Progetto*/

#progetto {
	padding: 50px;
}

.col-xxl-4 > img {
	height: 150px;
	background-size: contain;
	white-space:pre-line;
}

.col-xxl-4 > p{
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 5%;
	font-weight: 200;
}

/*Team*/

#team{
	padding: 50px;
}

.col-lg-6 > img {
	height: 200px;
	margin-bottom: 25px;
	border-radius: 50px;
	white-space:pre-line;
}

.col-lg-6 {
	margin-top: 40px;
}

.col-lg-4{
	margin-top: 40px;
}

.col-lg-4 > img {
	height: 200px;
	margin-bottom: 25px;
	border-radius: 50px;
	white-space:pre-line;
}

/*Contatti*/

#contatti{
	padding: 50px;
}

#contattiBody{
	padding: 2% 10% 5% 10%;
}

/*General*/

#card{
	width: 100%;
	height: auto;
	margin-top: 50px;
}

section {
	margin-bottom: 20px;
}

