body{
	background-color: whitesmoke;
}

.nav-link{
	color: #000;
	font-weight: 600;
}

.nav-link:hover{
	color: dimgray;
}

.carousel-item {
	background: black;
}

.carousel-item > img {
	opacity: 0.4;
}

section {
	margin-bottom: 20px;
}

#landingCarousel .carousel-item img {  
	object-fit: cover;
	object-position: center;
	overflow: hidden;
	height:90vh;
  }
  
#landingCarousel .carousel-item:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
  }

  .carousel-caption {
	transform: translateY(-20%);
	bottom: 0;
	top: 50%;
	padding-left: 10%;
	padding-right: 10%;
  }

#progetto {
	padding: 50px;
}

#card{
	width: 100%;
	height: auto;
	margin-top: 50px;
}

.col-4 > img {
	height: 150px;
	background-size: contain;
	white-space:pre-line;
    border-radius: 50px;
}

.col-4 > p{
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 5%;
	font-weight: 200;
}

#team{
	padding: 50px;
}