name: Maven CI/CD
 
on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]
 
jobs:
  build_and_test:
    runs-on: ubuntu-latest
            
    steps:
    - uses: actions/checkout@v2
    - uses: google-github-actions/setup-gcloud@master
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true
    - name: Set GCP credentials
      run: gcloud info
    - name: Set up JDK 8
      uses: actions/setup-java@v1
      with:
        java-version: 15
 
    - name: Cache the Maven packages to speed up build
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2      
 
    - name: Build project with Maven
      run: mvn -B package --file pom.xml
    
    - name: Run (J)Unit tests
      run: mvn clean test
